<div className="my-0 position-relative">
  <div class="position-absolute w-100 text-{{navigationTextColor}}">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand text-{{navigationTextColor}}" href="/">
        <img src="/public/assets/Logo_White.svg" itemProp="logo" height="32" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" />
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto pt-1">
          <li class="nav-item active pr-2">
            <a
              class="nav-link text-{{navigationTextColor}}"
              href="#"
            >
              Find a Practicioner <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-{{navigationTextColor}}" href="#">Register as a Practicioner</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-{{navigationTextColor}}" href="#">Sign up</a>
          </li>
          <li class="nav-item pl-2">
            <a class="btn btn-outline-{{navigationOutlineColor}}" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
